@use '../../styles/variables';

.container {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: variables.$bg-color;

  @media (max-width: 720px) {
    padding: 2rem 1rem 2rem 1rem;
  }

}

.leftContainer {

  display: flex;
  align-items: center;

}

.rightContent {

  display: flex;
  align-items: center;
  gap: 1rem;

}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.profileAndLanguage {
  display: flex;
  align-items: center;
  gap: 1rem;


}