$bg-color: #242425;
$bg-component-primary: #111111;
$bg-component-secondary: #191919;
$bg-component-details: #333333;
$txt-color: #FFFAFA;
$blue-azure: #007bff;
$blue-celtic: #0069D9;
$gray-slate: #35353b;
