@use '../../styles/variables';

.container {

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form {

    width: 100%;
    max-width: 400px;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {

        margin: 0 0 2rem 0;

    }

}

.error {

    margin: 0 0 1rem 0;

}

.link {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: variables.$blue-azure;
    text-decoration: none;
    margin: 1rem 0 0 0;

    &:hover {
        text-decoration: underline;
    }
}