@use '../../styles/variables';

.container {
    position: relative;
    display: inline-block;
    background-color: variables.$bg-component-secondary;
    color: variables.$txt-color;
    border-radius: 4px;
    font-size: 14px;
    width: 40px;
    height: 40px;
}

.selectedLanguage {
    background-color: transparent;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &:hover {
        text-decoration: underline;
    }
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: variables.$bg-component-primary;
    border-radius: 4px;
    width: 100%;

    li {
        padding: 6px 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            background-color: variables.$bg-component-details;
        }
    }
}